/*variable color*/
:root {
    --lightgray: #D9D9D9;
    --gray: #9c9c9c;
    --green : rgba(26, 169, 26, 0.933);
    --darkgrey: #464D53;
    --plancard: linear-gradient(210.41deg, #42fa57 1.14%, #948879 100.75%);
    --appcolor: #3c3f45;
}




