.contenu_an{
   margin-top: 10%; 
   padding: 10px 70px 20px 50px;
}
 li:nth-child(1){
    color: black;
    font-size: 15px;
    font-family: serif;
    font-weight: bold;
}
li:nth-child(2){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}
li:nth-child(3){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}
li:nth-child(4){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}
li:nth-child(5){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}
li:nth-child(6){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}

li:nth-child(7){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}
li:nth-child(8){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}
li:nth-child(9){
   color: black;
   font-size: 15px;
   font-family: serif;
   font-weight: bold;
}



@media screen and (max-width : 800px)
{
   #petitTitres
   {
      margin-top: 18%;
   }
}
  